<% include header %>

<main class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Average distance</h2>
                        <p class="card-text">5,15 KM</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Average pace</h2>
                        <p class="card-text">05:18 min</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Average time</h2>
                        <p class="card-text">27:31 min</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">March</h2>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">March 21, 12:01</th>
                                    <td>4 KM</td>
                                    <td>15 min</td>
                                    <td>Newton</td>
                                </tr>
                                <tr>
                                    <th scope="row">March 21, 12:01</th>
                                    <td>4 KM</td>
                                    <td>15 min</td>
                                    <td>Newton</td>
                                </tr>
                                <tr>
                                    <th scope="row">March 21, 12:01</th>
                                    <td>4 KM</td>
                                    <td>15 min</td>
                                    <td>Newton</td>
                                </tr>
                                <tr>
                                    <th scope="row">March 21, 12:01</th>
                                    <td>4 KM</td>
                                    <td>15 min</td>
                                    <td>Newton</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Last runs</h2>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">3 days ago</th>
                                    <td>4 KM</td>
                                    <td>15 min</td>
                                    <td>Newton</td>
                                </tr>
                                <tr>
                                    <th scope="row">3 days ago</th>
                                    <td>4 KM</td>
                                    <td>15 min</td>
                                    <td>Newton</td>
                                </tr>
                                <tr>
                                    <th scope="row">3 days ago</th>
                                    <td>4 KM</td>
                                    <td>15 min</td>
                                    <td>Newton</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<% include footer %>